<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/marco-canas/1_algebra/blob/main/classes/ciencia_datos/4_class/4_class_march_1_graficas_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

este cuaderno es mio y solo mio juan esteban gallego

# Gráficos de funciones

## Objetivo de aprendizaje

* saber graficar a mano unos datos y saber interpretarlos.

In [ ]:
5*3

15

# Relación de sustancia cancerígena con índice de mortalidad

*Marco*

**Marco**

In [4]:
indice_exposicion ={3.5, 3.58, 4.42, 2.26, 2.63, 4.85, 12.65, 7.42, 9.35}

In [5]:
indice_mortalidad ={150.1, 133.1, 132.9, 116.7, 140.7, 165.5, 210.7, 181.0, 231.4}

In [6]:
len(indice_exposicion)==len(indice_mortalidad)

True

esto, decir que los indices tienen la misma longitud

In [12]:
import pandas as pd    

indice_exposicion =[3.5, 3.58, 4.42, 2.26, 2.63, 4.85, 12.65, 7.42, 9.35]
indice_mortalidad =[150.1, 133.1, 132.9, 116.7, 140.7, 165.5, 210.7, 181.0, 231.4]

diccionario = {"indice de exposicion":indice_exposicion, "indice de mortalidad":indice_mortalidad}
tabla = pd.DataFrame(diccionario)
tabla

   indice de exposicion  indice de mortalidad
0                  3.50                 150.1
1                  3.58                 133.1
2                  4.42                 132.9
3                  2.26                 116.7
4                  2.63                 140.7
5                  4.85                 165.5
6                 12.65                 210.7
7                  7.42                 181.0
8                  9.35                 231.4

[Evaluemos al profesor aquí](https://forms.office.com/Pages/ResponsePage.aspx?id=IefhmYRxjkmK_7KtTlPBwkanXIs1i1FEujpsZgO6dXpUREJPV1kxUk1JV1ozTFJIQVNIQjY5WEY3US4u)